.detallegrid{
    display: grid;
    grid-template-areas:  "imgdetail detalle";
    grid-template-columns: 50% 50%;
    padding: 4rem;
}
.imgdetail{
    grid-area: "imgdetail";
    box-shadow: 11px -13px 18px -2px rgba(0,0,0,0.74);
    -webkit-box-shadow: 11px -13px 18px -2px rgba(0,0,0,0.74);
    -moz-box-shadow: 11px -13px 18px -2px rgba(0,0,0,0.74);
}
.productodetallado{
    grid-area: "detalle";
    padding: 4rem;
    text-align: center;
}
.botonfinalizacion{
    width: 15rem;
    background-color: green;
    border: 6px double black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}