.form-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(29, 28, 28, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: center;
        padding: 40px;
        background-color: rgb(255, 255, 255);
        color: rgb(3, 3, 3);
        gap: 20px;
        animation: appearing 0.3s ease-in-out;
        height: 350px;
        width: 300px;
}
        .buttons-login-container {
            width: 100%;
            display: flex;
            color: rgb(0, 0, 0);
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

    .form-dismount{
        animation: disappearing 0.3s ease-in-out;
    }

@keyframes appearing {
    from {opacity: 0; transform: translate(0, -60px)};
    to {opacity: 1; transform: translate(0, 0px)};
}

@keyframes disappearing {
    from {opacity: 1; transform: translate(0, 0px)};
    to {opacity: 0; transform: translate(0, -60px)};
}